/* Style for our header texts 
	* --------------------------------------- */
	@fontface{
    font-family: 'Gloria Hallelujah', cursive;
  }
    
  h1{
    font-family: 'Gloria Hallelujah', cursive;	
      /*font-family: arial,helvetica;*/
      color: #fff;
      margin:0;
	}
	.intro p{
		color: #fff;
	}
	
	/* Centered texts in each section 
	* --------------------------------------- */
	.section{
		text-align:center;
	}
	
	
	/* Overwriting styles for the navigation dots (to place it where we want)
	* --------------------------------------- */
	.fullPage-slidesNav.bottom{
		bottom: 25px;
	}
	
	/* Bottom menu
	* --------------------------------------- */
	#infoMenu li a {
		color: #fff;
	}
 

 /*#section0{
	background: -webkit-gradient(linear, top left, bottom left, from(#222222), to(#CBBBA0));
	background: -webkit-linear-gradient(#222222, #CBBBA0);
	background: linear-gradient(#222222,#CBBBA0);
}*/

 /*#section1{
    background: url(img/fond.svg)repeat;*/
  }
  
  #section1 > #section0 h1{
	color: #333;
}


h1 {
    
}
